:root {
  --green: #1db954;
  --black: #121212;
  --lightblack: #212121;
  --grey: #535353;
  --lightgrey: #b3b3b3;
  --titleFont: 32px;
  --normalFont: 24px;
  --subtitleFont: 20px;
}
body {
  background-color: var(--black);
  box-sizing: border-box;
}
a {
  font-size: var(--normalFont);
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#navbar img {
  height: 60px;
}
.search {
  font-size: var(--normalFont);
  height: 60px;
  border-radius: 30px;
  padding-left: 24px;
  background-color: var(--lightblack);
  color: white;
  border:none;
}
.search::placeholder {
  color: var(--lightgrey);
}